#ignore all
*
#whitelist
!configuration.yaml
!.gitignore
!automations.yaml
!scenes.yaml
!scripts.yaml
!groups.yaml
!scripts.yaml
!sensors.yaml
!ui-lovelace.yaml
!integrations
!integrations/*.yaml
!esphome
!esphome/*.yaml
#esphome/shared
!shared
!esphome/shared/*.yaml
#ensure
esphome/secrets.yaml
esphome/shared/secrets.yaml
integrations/secrets.yaml
esphome/*.json
esphome/shared/*.json
integrations/*.json
secrets.yaml
*.json
zones.yaml
*.db
*.log
.ip_authenticated.yaml
traccar.xml
