#    ██████╗ ██╗████████╗██╗ ██████╗ ███╗   ██╗ ██████╗ ██████╗ ███████╗
#   ██╔════╝ ██║╚══██╔══╝██║██╔════╝ ████╗  ██║██╔═══██╗██╔══██╗██╔════╝
#   ██║  ███╗██║   ██║   ██║██║  ███╗██╔██╗ ██║██║   ██║██████╔╝█████╗
#   ██║   ██║██║   ██║   ██║██║   ██║██║╚██╗██║██║   ██║██╔══██╗██╔══╝
#██╗╚██████╔╝██║   ██║   ██║╚██████╔╝██║ ╚████║╚██████╔╝██║  ██║███████╗
#╚═╝ ╚═════╝ ╚═╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝
#

#ignore all
*

#whitelist
!configuration.yaml
!.gitignore
!automations.yaml
!scenes.yaml
!scripts.yaml
!groups.yaml
!scripts.yaml
!sensors.yaml
!customize.yaml
!customize_glob.yaml
!README.md
!LICENSE
!CODE_OF_CONDUCT.md

#GH Workflows
!.github/
!.github/**
!.github/**/*.yml

#HA_version for travis CI
!.HA_version

#Stub files
!.doc/
!.doc/CI/*.yaml
!.doc/CI/*.json

#images for documentation
!.doc/images/**

#custom_components directory
!custom_components/
!custom_components/**

#doc
!.doc/
!.doc/**

#www/_static + motion
!www/
!_static/
!icons/
!www/_static/**
!www/_static/icons/*
!motion/
!www/motion/**

#integrations directory
!integrations/
!integrations/*.yaml

#blueprints directory
!blueprints/
!blueprints/automation/
!blueprints/automation/homeassistant/
!blueprints/**/*.yaml

#esphome directory
!esphome/
!esphome/*.yaml
!esphome/*.h

#esphome/shared directory
!shared/
!esphome/shared/*.yaml

#google-assistant directory
!google-assistant-entities/
!google-assistant-entities/*.yaml

#appdaemin directory
!appdaemon/
!appdaemon/apps
!appdaemon/**/*.yaml
!appdaemon/**/*.py

#automations directory
!automations/
!automations/*.yaml

#ensure
*.db
*.log
*.pyc
traccar.xml
*.token
ip_bans.yaml
.storage/
.cloud/
.google.token
.google*cookie*
nogit_*
ad_whitelist.txt
__pycache__/
